/* ----------------------- FOOTER ----------------------- */
.footer {
    position: relative;
    background: url("../../../assets/img/autres/bg.jpg") no-repeat;
    background-position: bottom center;
    background-size: auto 40%;
    background-color: #96b011;
}

.footer_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    background-color: rgba(112, 125, 48, .36);
}
.footer_icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 1.2rem;
    white-space: nowrap;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
}
.footer_icons > div > svg {
    padding: .5em;
    height: 3rem;
}

.footer_links {
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}
.footer_links > nav {
    padding: 1em;
}

.footer_links > nav > h2 {
    font-family: 'Open Sans';
    font-size: 1.8rem;
    margin: 1em;
    color: white;
    text-transform: uppercase;
}
.footer_links > nav > a {
    display: block;
    margin: .3em;
    color: rgba(255, 255, 255, .5);
}
.footer_links > nav > a:hover {
    color: white;
}

.footer_3WA {
    width: 100%;
    padding: 2em;
    text-align: center;
    background-color: rgba(112, 125, 48, .36);
}
.footer_3WA > a > img {
    width: 60px;
    margin-bottom: 1em;
}
.footer_3WA > p {
    font-size: 1.2rem;
    line-height: 1.6;
}
.footer_3WA > p > a {
    color: rgba(255, 255, 255, .5);
}
.footer_3WA > p > a:hover {
    color: white;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .footer {
        background-size: auto 60%;
    }
    .footer_icons {
        flex-direction: row;
    }
    .footer_icons > div {
        width: 20%;
    }

    .footer_links {
        flex-direction: row;
        justify-content: space-around;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1200px) {
    .footer_icons > div > svg {
        height: 2rem;
        padding: 0;
    }

    .footer_links {
        padding: 0;
    }
    .footer_links > nav > h2 {
        font-size: 1.4rem;
    }
    .footer_links > nav > a {
        font-size: 1.2rem;
    }

    .footer_3WA {
        padding: 1em;
    }
    .footer_3WA > a > img {
        width: 40px;
        margin-bottom: 0;
    }
}