/* ----------------------- HEADER ----------------------- */
.header {
    position: relative;
    width: 100%;
    background-color: #96b011;
}

.header_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    background: url("../../../assets/img/autres/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.header_promo {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: .5em;
    text-align: center;
    color: white;
    background-color: rgba(112, 125, 48, .36);
    z-index: 100;
}

.logo_and_cart_div {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 1em 0;
}

.logo_ctn {
    align-self: center;
    width: 240px;
    margin: 1em auto;
}

.cart_ctn {
    display: inline-flex;  
    align-items: center;
    height: 2.6em;
    margin-right: auto;
    padding: .5em 1em .5em 0;
    border-radius: 0 1.3em 1.3em 0;
    box-shadow: 2px 2px 8px rgba(112, 125, 48, .6);
    color: rgba(255, 255, 255, .5);
}
.cart_svg_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4em;
    height: 2.4em;
    margin-left: .5em;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}

.price_txt {
    margin-left: .5em;
    font-weight: 500;
    color: white;
}

.header_nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
}
.header_nav > a {
    display: block;
    width: 100%;
    padding: .5em 0;
    font-size: 2.4rem;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    transition: all .3s;
}

.header_nav .connection_btn {
    font-weight: 500;
    color: rgb(127, 13, 13);
}

.header .ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 6em;
    z-index: 101;
}

.tablet_hidden,
.mobile_hidden {
    display: none;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .header {
        margin-bottom: 0;
    }

    .header_inner {
        max-width: 900px;
        margin: 0 auto;
    }

    .logo_and_cart_div {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo_ctn {
        margin-left: 2em;
    }

    .cart_ctn {
        margin-right: 1em;
        box-shadow: none;
    }

    .header_nav {
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 1em;
    }
    .header_nav > a {
        display: inline-block;
        width: unset;
        padding: .5em 1em;
        font-size: 2rem;
    }
    .header_nav > a:hover {
        transform: none;
        border-radius: 2.2em;
        color: #DD5735;
        background-color: rgba(255, 255, 255, .5);
    }

    .header .ribbon {
        position: absolute;
        top: 0;
        right: 0;
        height: 6em;
        z-index: 101;
    }

    .mobile_hidden {
        display: inline-block;
    }
}

/******************************************************************/
/* ----------------------- VERSION DESKTOP ---------------------- */
/******************************************************************/
@media screen and (min-width: 1200px) {
    .header_promo {
        font-size: 1.4rem;
    }

    .logo_and_cart_div {
        padding: 0;
    }

    .logo_ctn {
        width: 160px;
    }

    .header_nav {
        justify-content: space-between;
    }

    .header_nav > a {
        font-size: 1.8rem;
    }
}