main {
    width: 100%;
    text-align: center;
}

.article_product {
    margin-top: -2em;
}
.article_product h3 {
    font-size: 4rem;
    margin-bottom: 0;
}

.grey {
    color: lightgrey;
}

.add_to_wishlist {
    margin-top: .5em;
    font-size: 2rem;
    color: #96b011;
}

select {
    padding: .5em;
    font-size: 2rem;
    background-color: #f4f4f4;
}
select option {
    padding: .5em;
}

.large_text {
    font-size: 4.5rem;
    font-weight: 600;
}

.fa_heart {
    color: tomato;
    padding: 0 .5em;
}

/******************************************************************/
/* ---------------------- VERSION TABLETTE ---------------------- */
/******************************************************************/
@media screen and (min-width: 768px) {
    .article_product {
        text-align: left;
    }
    .article_product h3 {
        margin-top: 1em;
    }
    .article_product div:first-child,
    .article_product div:nth-child(2) {
        display: flex;
    }
}